<%= render_partial "title" %>

<div>
  <% form_tag :action => "update", :id => @protocol.id do %>
    <%= render_partial "form" %>
    <%= hidden_field_tag("page", @page) %>
    <%= hidden_field_tag("search_term", @search_term) %>
    <%= content_tag("p", submit_tag("Update")) %>
  <% end %>
</div>
