<% for column in Protocol.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @protocol.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @protocol %> |
<%= link_to 'Back', :action => 'list' %>
