
  <p class="text">Explanation of AEDW scores:</p>
  <ul>
    <li><b>T</b>: Experiment design type is appropriate.</li>
    <li><b>H</b>: Number of hybridizations is large enough.</li>
    <li><b>A</b>: Arrays are loaded into AEDW.</li>
    <li><b>F</b>: FactorValues provided.</li>
    <li><b>D</b>: Raw and normalized data provided.</li>
  </ul>
