<%= render_partial "title" %>

<div>
  <% form_tag :action => "update", :id => @experiment.id do %>
    <%= render_partial "form" %>
    <%= hidden_field_tag("page", @page) %>
    <%= hidden_field_tag("search_term", @search_term) %>
    <%= hidden_field_tag("experiment_type", @experiment.experiment_type) %>
    <%= content_tag("p", submit_tag("Update")) %>
  <% end %>

  <%= render_partial "miameinfo" %>
  <%= render_partial "aedwinfo" %>

</div>