
  <p class="text">Explanation of MIAME scores:</p>
  <ul>
    <li><b>R</b>: Raw data provided.</li>
    <li><b>N</b>: Normalized data provided.</li>
    <li><b>F</b>: FactorValues provided.</li>
    <li><b>P</b>: Protocols provided (data transformation only at the moment).</li>
    <li><b>A</b>: Arrays are all MIAME compliant.</li>
  </ul>
