<%= render_partial "title" %>

<div>
  <% form_tag :action => 'create' do %>
<table>
    <%= render_partial "form" %>
</table>
    <%= hidden_field_tag("experiment[experiment_type]", params[:experiment_type]) %>
    <%= content_tag("p", submit_tag("Create")) %>
    <%= render_partial "annotate" %>
    <%= content_tag("p", submit_tag("Create")) %>
  <% end %>
</div>
