
  <p class="text">Explanation of MIAME scores:</p>
  <ul>
    <li>Oligo arrays must have sequence for at least 70% of experimental features.</li>
    <li>Non-oligo arrays must have sequence or any database entry for at least 70% of experimental features.</li>
  </ul>
