<% for column in ArrayDesign.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @array_design.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @array_design %> |
<%= link_to 'Back', :action => 'list' %>
